@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

nav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
}

.bien-glass {
    position: absolute;
    inset: 0;
    /*   Extend the backdrop to the bottom for it to "collect the light" 
    outside of the nav */
    --extended-by: 100px;
    bottom: calc(-1 * var(--extended-by));

    --filter: blur(20px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;

    /*   Cut the part of the backdrop that falls outside of <nav /> */
    --cutoff: calc(100% - var(--extended-by));
    --mask-uni: linear-gradient(to bottom,
            black 0,
            black var(--cutoff),
            transparent var(--cutoff));
    -webkit-mask-image: var(--mask-uni);
    mask-image: var(--mask-uni);
}

.bien-glass-edge {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;

    --extended-by: 80px;
    --offset: 20px;
    --thickness: 2px;
    height: calc(var(--extended-by) + var(--offset));
    /*   Offset is used to snuck the border backdrop slightly under the main 
    backdrop for  smoother effect */
    top: calc(100% - var(--offset) + var(--thickness));

    /*   Make the blur bigger so that the light bleed effect spreads wider 
    than blur on the first backdrop */
    /*   Increase saturation and brightness to fake smooth chamfered edge 
    reflections */
    --filter: blur(90px) saturate(160%) brightness(1.3);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;

    --mask-img: linear-gradient(to bottom,
            black 0,
            black var(--offset),
            transparent var(--offset));
    mask-image: var(--mask-img);
    -webkit-mask-image: var(--mask-img);
}

/* *********************************** */

* {
    margin: 0;
    padding: 0;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.logo-text {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    letter-spacing: -1px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 5rem;
    text-decoration: none;
}


.header {
    position: sticky;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 15px;
}

.button-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #ffbe98;

    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;

    border-width: 2px;
    border-radius: 10px;
    border-color: #ffbe98;
    border-style: inset;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;

    min-width: 150px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;

    text-align: center;

    background-color: #292929;
    box-shadow: #ffbe98;
    transform: translateY(-10px);
}

.button-header:hover {
    background: #ffbe98;
    color: #292929;
}